@media screen and (max-width:900px)
{
body
 {
        background-color: #6541b8;
 }
}
@media screen and (max-width:600px)
{
body
 {
        background-color: #f78536;
 }
}
@media screen and (max-width:300px)
{
body
 {
        background-color:#ff0000;
 }
}