.p1{
    color: maroon;
}
#pq1{
    background-color: palegreen;
}
#pq2{
   background-color: aquamarine; 
}
#pq3{
    background-color: lightgoldenrodyellow;
}
#pq4{
    background-color: blueviolet;
}