.container
{
    background-color: olivedrab;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    /* flex-direction: column-reverse; */
   /* flex-wrap: wrap-reverse; */
   /* justify-content: flex-end; */
   /* justify-content: center; */
   justify-content: space-around;
}
.box
{
    width: 200px;
    background-color: yellow;
    border: 10px solid black;
    background-image: url(../../HTML/img/gannet.jpg);
}
#box2
{
    flex-grow: 3;
}
#box3
{
    flex-grow: 4;
    flex-shrink: 5;
}
#box1
{
    flex-shrink: 2;
}